body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #4C4D4F;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	color: #222222;
}

h2 {
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #222222;
}

ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;

	a {
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: normal;
		letter-spacing: 0.02em;
		color: #222222;

		&:hover {
			color: #E2BCAF;
			text-decoration: none;
		}
	}
}

.main__header {
	padding: 40px 30px 40px;
	display: flex;
	justify-content: space-between;

	.menu {
		
		ul {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin-right: 20px;
			}
		}
	}

	.logo {
		padding-right: 12%;
	}

	.header-info {
		display: flex;
		align-items: flex-end;

		.user {
			margin-right: 30px;	
			
			a {
				margin-left: -4px;
			}

			.link {

				&:after {
					content:"/";
				}
			}
		}

		.icons {
			
			i {
				margin-right: 5px;
				font-size: 25px;
				line-height: normal;
				letter-spacing: 0.23em;
				color: #222222;
			}
		}
	}
}
.main__footer {
	

	h3 {
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.4em;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-bottom: 15px;
	}

	.footer__inner {
		background: #222222;
		padding: 80px 0px;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.link {
			margin: 0px 100px;

			&__inner {
				
				ul {
					display: flex;
					flex-direction: column;

					li {

						padding-bottom: 10px;

						a {
							color: #999999;

							&:hover {
								color: #E2BCAF;
							}
						}
					}
					
				}
			}
		}

		.contacts {
			margin-left: 100px;

			&__inner {
				display: flex;
				flex-direction: column;
				margin-bottom: 45px;

				span {
					font-weight: 300;
					font-size: 14px;
					line-height: 29px;
					letter-spacing: 0.02em;
					color: #999999;
				}
			}
			.email-send {
				a {
					color: #FFFFFF;
				}
			}
		}

		.newsletters {
			margin: 0px 100px 0px 200px;

			p {
				font-weight: 300;
				font-size: 14px;
				line-height: 29px;
				letter-spacing: 0.05em;
				color: #999999;
				margin-bottom: 25px;
			}

			#appointment-form {

				input[type="email"] {
					background: rgba(255, 255, 255, 0.1);
					
				}
				
				button {
					background: #E2BCAF;
					border-radius: 5px;
					padding: 0px 12px 0px;

					i {
						font-size: 18px;
						line-height: 27px;
						color: #FFFFFF;
					}
				}
			} 

			


		}
	}

	.footer__bootom {
		padding: 40px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.social {
			margin-bottom: 25px;

			i {
				margin-right: 15px;
			}
		}
	}


}

.section-2 {
	padding: 50px 0px 50px;

	.proposal {
		padding-top: 40px;

		span {
			font-weight: 500;
			font-size: 14px;
			line-height: normal;
			letter-spacing: 0.4em;
			text-transform: uppercase;
			color: #E2BCAF;
		}
		
		h2 {
			margin: 25px 30px 30px 0px;
		}

		p {
			margin: 0px 0px 25px 65px;
			font-style: italic;
			font-weight: 300;
			font-size: 18px;
			line-height: 37px;
			letter-spacing: 0.05em;
			color: #4C4D4F;
		}

		.vector {
			img {
				margin-left: 65px;
			}
		}
	}
}

.section-3 {
	padding: 50px 30px 50px;

	.section-block {
		display: flex;
    	justify-content: center;
    	
    	.proposal {
    		margin-left: 100px;
    		padding-top: 40px;

    		span {
				font-weight: 500;
				font-size: 14px;
				line-height: normal;
				letter-spacing: 0.4em;
				text-transform: uppercase;
				color: #E2BCAF;
			}

			h2 {
				margin: 25px 30px 30px 0px;
				padding-right: 50%;
			}

			p {
				padding-right: 40%;
				margin-left: 70px;
				font-weight: 500;
				font-size: 14px;
				line-height: 29px;
				letter-spacing: 0.05em;
				color: #4C4D4F;
			}
			.statistic {
				margin-left: 70px;
				display: flex;

				&__inner {
					margin-right: 100px;

					.number {
						font-family: Oswald;
						font-style: normal;
						font-weight: bold;
						font-size: 36px;
						line-height: 48px;
						letter-spacing: 0.2em;
						text-transform: uppercase;
						color: #D2DCE6;
						margin-left: 6px;

					}
					p {
						padding: 0px;
						margin: 0px;
						font-weight: 500;
						font-size: 14px;
						line-height: 29px;
						letter-spacing: 0.05em;
						color: #4C4D4F;
					}
				}
			}

    	}

	}

}
.section-7 {
	padding: 100px 30px;

	.title {

		span {
			font-weight: 500;
			font-size: 14px;
			line-height: normal;
			letter-spacing: 0.4em;
			text-transform: uppercase;
			color: #E2BCAF;
			margin-bottom: 40px;
		}
	}
	
	.brends {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;
		
		.title {
			display: flex;
			flex-direction: column;
			text-align: center;

		}
		&__inner {
			display: flex;
    		align-items: center;

    		.logo {
    			margin: 0px 85px;
    		}
		}
	}


}