body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #4C4D4F;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	color: #222222;
}

h2 {
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #222222;
}

ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;

	a {
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: normal;
		letter-spacing: 0.02em;
		color: #222222;

		&:hover {
			color: #E2BCAF;
			text-decoration: none;
		}
	}
}

img {
	width: 100%;
	height: auto;
}

.main__header {
	padding: 40px 30px 40px;
	display: flex;
	justify-content: space-between;

	.menu {
		ul {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin-right: 20px;
			}
		}
	}

	.logo {
		padding-right: 12%;
	}

	.header-info {
		display: flex;
		align-items: flex-end;

		.user {
			margin-right: 30px;

			a, span {
				color: #222222;
			}
		}

		.icons {

			display: flex;
			justify-content: center;
			align-items: center;

			&__item {
				margin: 0 5px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.main__footer {

	h3 {
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.4em;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-bottom: 15px;
	}

	.footer__inner {
		background: #222222;
		padding: 80px 0px;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.link {
			margin: 0px 100px;

			&__inner {

				ul {
					display: flex;
					flex-direction: column;

					li {

						padding-bottom: 10px;

						a {
							color: #999999;

							&:hover {
								color: #E2BCAF;
							}
						}
					}

				}
			}
		}

		.contacts {
			margin-left: 100px;

			&__inner {
				display: flex;
				flex-direction: column;
				margin-bottom: 45px;

				span {
					font-weight: 300;
					font-size: 14px;
					line-height: 29px;
					letter-spacing: 0.02em;
					color: #999999;
				}
			}
			.email-send {
				a {
					color: #FFFFFF;
				}
			}
		}

		.newsletters {
			margin: 0px 100px 0px 200px;

			p {
				font-weight: 300;
				font-size: 14px;
				line-height: 29px;
				letter-spacing: 0.05em;
				color: #999999;
				margin-bottom: 25px;
			}

			#appointment-form {

				input[type="text"] {
					background: rgba(255, 255, 255, 0.1);
					padding: 5px 20px 5px 10px;
					border: none;

				}

				input[type="submit"] {
					background: #E2BCAF;
					border: none;
					padding: 10px 20px 11px 20px;
					font-family: Oswald;
					font-size: 12px;
					line-height: 16px;
					letter-spacing: 0.4em;
					text-transform: uppercase;
					color: #FFFFFF;
				}
			}
		}
	}

	.footer__bootom {
		padding: 40px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.social {
			margin-bottom: 25px;

			i {
				margin-right: 15px;
			}
		}
	}


}

#main-slider {
	.sp-image-container {
		padding-right: 30%;

		img {
			height: 100% !important;
			object-fit: cover;
		}
	}

	.sp-slide {
		h2 {
			font-family: Oswald;
			font-style: normal;
			font-weight: normal;
			font-size: 60px;
			line-height: 80px;
			text-align: right;
			letter-spacing: 0.4em;
			text-transform: uppercase;
			white-space: normal !important;
			text-align: right;
		}

		h3 {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 300;
			font-size: 36px;
			line-height: 57px;
			text-align: right;
			letter-spacing: 0.3em;
			text-transform: uppercase;
			text-align: right;
		}

		button {
			font-family: Oswald;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.4em;
			text-transform: uppercase;
			padding: 0 0 10px 0;
			border: none;
			background-color: transparent;

			&:before {
				width: 100%;
				height: 3px;
				background-color: #E2BCAF;
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				content:'';
			}
		}
	}

	.sp-buttons {
		position: absolute;
		top: 0;
		right: 5%;
		width: 10px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;


		.sp-button {
			width: 4px;
			height: 130px;
			margin: 5px 0;
			border: none;
			border-radius: 0;
			background-color: #E5E5E5;

			&.sp-selected-button {
				background-color: #E2BCAF;
			}
		}
	}
}

.section-1 {
	margin: 0 20px;
}

.section-2 {
	padding: 50px 0px 50px;

	.proposal {
		padding-top: 40px;

		span {
			font-weight: 500;
			font-size: 14px;
			line-height: normal;
			letter-spacing: 0.4em;
			text-transform: uppercase;
			color: #E2BCAF;
		}

		h2 {
			margin: 25px 30px 30px 0px;
		}

		p {
			margin: 0px 0px 25px 65px;
			font-style: italic;
			font-weight: 300;
			font-size: 18px;
			line-height: 37px;
			letter-spacing: 0.05em;
			color: #4C4D4F;
		}

		.vector {
			svg {
				margin-left: 65px;
			}
		}
	}
}

.section-3 {
	padding: 50px 30px 50px;

	.section-block {

		.image {

		}

		.proposal {
			margin-left: 100px;
			padding-top: 40px;

			span {
				font-weight: 500;
				font-size: 14px;
				line-height: normal;
				letter-spacing: 0.4em;
				text-transform: uppercase;
				color: #E2BCAF;
			}

			h2 {
				margin: 25px 30px 30px 0px;
			}

			p {
				margin-left: 70px;
				font-weight: 500;
				font-size: 14px;
				line-height: 29px;
				letter-spacing: 0.05em;
				color: #4C4D4F;
			}
			.statistic {
				margin-left: 70px;
				display: flex;

				&__inner {
					margin-right: 100px;

					.number {
						font-family: Oswald;
						font-style: normal;
						font-weight: bold;
						font-size: 36px;
						line-height: 48px;
						letter-spacing: 0.2em;
						text-transform: uppercase;
						color: #D2DCE6;
						margin-left: 6px;

					}
					p {
						padding: 0px;
						margin: 0px;
						font-weight: 500;
						font-size: 14px;
						line-height: 29px;
						letter-spacing: 0.05em;
						color: #4C4D4F;
					}
				}
			}

		}

	}

}

.section-4 {
	margin: 50px 15px;

	.grid-container {
		display: grid;
		grid-template-columns: 1.5fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "image-1 image-2 image-4 " "image-1  image-3  image-4";

		.image {
			margin: 15px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.image-1 { grid-area: image-1; }

	.image-2 { grid-area: image-2; }

	.image-3 { grid-area: image-3; }

	.image-4 { grid-area: image-4; }
}

.section-6 {
	background: #F9F9F9;

	.testimonials__item {
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.section-7 {
	padding: 100px 30px;

	.title {

		span {
			font-weight: 500;
			font-size: 14px;
			line-height: normal;
			letter-spacing: 0.4em;
			text-transform: uppercase;
			color: #E2BCAF;
			margin-bottom: 40px;
		}
	}

	.brends {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;

		.title {
			display: flex;
			flex-direction: column;
			text-align: center;

		}
		&__inner {
			display: flex;
    		align-items: center;

    		.logo {
    			margin: 0px 85px;
    		}
		}
	}

}

.login-popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	z-index: 999;
	transition: all 0.4s ease;

	&.show-state {
		opacity: 1;
		pointer-events: auto;
	}

	&__container {
		background-color: white;
		padding: 30px;
		z-index: 2;
	}

	&__cover {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba( 0, 0, 0, .5);
		z-index: 1;
	}

	&__inner {
		h2 {
			margin-bottom: 10px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;

	}
}
