body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #4C4D4F;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #222222; }

h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #222222; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }
  ul a {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: #222222; }
    ul a:hover {
      color: #E2BCAF;
      text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.main__header {
  padding: 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .main__header .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    .main__header .menu ul li {
      margin-right: 20px; }
  .main__header .logo {
    padding-right: 12%; }
  .main__header .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .main__header .header-info .user {
      margin-right: 30px; }
      .main__header .header-info .user a, .main__header .header-info .user span {
        color: #222222; }
    .main__header .header-info .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main__header .header-info .icons__item {
        margin: 0 5px; }
        .main__header .header-info .icons__item:first-child {
          margin-left: 0; }
        .main__header .header-info .icons__item:last-child {
          margin-right: 0; }

.main__footer h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 15px; }
.main__footer .footer__inner {
  background: #222222;
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main__footer .footer__inner .link {
    margin: 0px 100px; }
    .main__footer .footer__inner .link__inner ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main__footer .footer__inner .link__inner ul li {
        padding-bottom: 10px; }
        .main__footer .footer__inner .link__inner ul li a {
          color: #999999; }
          .main__footer .footer__inner .link__inner ul li a:hover {
            color: #E2BCAF; }
  .main__footer .footer__inner .contacts {
    margin-left: 100px; }
    .main__footer .footer__inner .contacts__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 45px; }
      .main__footer .footer__inner .contacts__inner span {
        font-weight: 300;
        font-size: 14px;
        line-height: 29px;
        letter-spacing: 0.02em;
        color: #999999; }
    .main__footer .footer__inner .contacts .email-send a {
      color: #FFFFFF; }
  .main__footer .footer__inner .newsletters {
    margin: 0px 100px 0px 200px; }
    .main__footer .footer__inner .newsletters p {
      font-weight: 300;
      font-size: 14px;
      line-height: 29px;
      letter-spacing: 0.05em;
      color: #999999;
      margin-bottom: 25px; }
    .main__footer .footer__inner .newsletters #appointment-form input[type="text"] {
      background: rgba(255, 255, 255, 0.1);
      padding: 5px 20px 5px 10px;
      border: none; }
    .main__footer .footer__inner .newsletters #appointment-form input[type="submit"] {
      background: #E2BCAF;
      border: none;
      padding: 10px 20px 11px 20px;
      font-family: Oswald;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: #FFFFFF; }
.main__footer .footer__bootom {
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main__footer .footer__bootom .social {
    margin-bottom: 25px; }
    .main__footer .footer__bootom .social i {
      margin-right: 15px; }

#main-slider .sp-image-container {
  padding-right: 30%; }
  #main-slider .sp-image-container img {
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover; }
#main-slider .sp-slide h2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  text-align: right;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  white-space: normal !important;
  text-align: right; }
#main-slider .sp-slide h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 57px;
  text-align: right;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: right; }
#main-slider .sp-slide button {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  padding: 0 0 10px 0;
  border: none;
  background-color: transparent; }
  #main-slider .sp-slide button:before {
    width: 100%;
    height: 3px;
    background-color: #E2BCAF;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    content: ''; }
#main-slider .sp-buttons {
  position: absolute;
  top: 0;
  right: 5%;
  width: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #main-slider .sp-buttons .sp-button {
    width: 4px;
    height: 130px;
    margin: 5px 0;
    border: none;
    border-radius: 0;
    background-color: #E5E5E5; }
    #main-slider .sp-buttons .sp-button.sp-selected-button {
      background-color: #E2BCAF; }

.section-1 {
  margin: 0 20px; }

.section-2 {
  padding: 50px 0px 50px; }
  .section-2 .proposal {
    padding-top: 40px; }
    .section-2 .proposal span {
      font-weight: 500;
      font-size: 14px;
      line-height: normal;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: #E2BCAF; }
    .section-2 .proposal h2 {
      margin: 25px 30px 30px 0px; }
    .section-2 .proposal p {
      margin: 0px 0px 25px 65px;
      font-style: italic;
      font-weight: 300;
      font-size: 18px;
      line-height: 37px;
      letter-spacing: 0.05em;
      color: #4C4D4F; }
    .section-2 .proposal .vector svg {
      margin-left: 65px; }

.section-3 {
  padding: 50px 30px 50px; }
  .section-3 .section-block .proposal {
    margin-left: 100px;
    padding-top: 40px; }
    .section-3 .section-block .proposal span {
      font-weight: 500;
      font-size: 14px;
      line-height: normal;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: #E2BCAF; }
    .section-3 .section-block .proposal h2 {
      margin: 25px 30px 30px 0px; }
    .section-3 .section-block .proposal p {
      margin-left: 70px;
      font-weight: 500;
      font-size: 14px;
      line-height: 29px;
      letter-spacing: 0.05em;
      color: #4C4D4F; }
    .section-3 .section-block .proposal .statistic {
      margin-left: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .section-3 .section-block .proposal .statistic__inner {
        margin-right: 100px; }
        .section-3 .section-block .proposal .statistic__inner .number {
          font-family: Oswald;
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 48px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #D2DCE6;
          margin-left: 6px; }
        .section-3 .section-block .proposal .statistic__inner p {
          padding: 0px;
          margin: 0px;
          font-weight: 500;
          font-size: 14px;
          line-height: 29px;
          letter-spacing: 0.05em;
          color: #4C4D4F; }

.section-4 {
  margin: 50px 15px; }
  .section-4 .grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image-1 image-2 image-4 " "image-1  image-3  image-4"; }
    .section-4 .grid-container .image {
      margin: 15px;
      position: relative; }
      .section-4 .grid-container .image span {
        position: absolute;
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0.7em;
        text-transform: uppercase;
        color: #222222; }
      .section-4 .grid-container .image .cover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .section-4 .grid-container .image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .section-4 .grid-container .image-1 span {
      bottom: 17%;
      left: 0%;
      font-size: 96px;
      line-height: 128px;
      padding-left: 50%; }
      .section-4 .grid-container .image-1 span:before {
        content: '';
        display: block;
        position: absolute;
        background: #222222;
        width: 315px;
        height: 9px;
        left: 0%;
        top: 50%; }
    .section-4 .grid-container .image-2 span {
      bottom: 17%;
      font-size: 36px;
      line-height: 48px; }
    .section-4 .grid-container .image-3 span {
      bottom: 17%;
      font-size: 36px;
      line-height: 48px;
      padding: 0px 30px;
      text-align: center; }
    .section-4 .grid-container .image-4 span {
      top: 20%;
      font-size: 36px;
      line-height: 48px;
      padding: 0px 85px;
      text-align: center; }
      .section-4 .grid-container .image-4 span:before {
        content: '';
        display: block;
        position: absolute;
        background: #222222;
        width: 125px;
        height: 4px;
        left: 0%;
        top: 50%; }
  .section-4 .image-1 {
    grid-area: image-1; }
  .section-4 .image-2 {
    grid-area: image-2; }
  .section-4 .image-3 {
    grid-area: image-3; }
  .section-4 .image-4 {
    grid-area: image-4; }

.section-6 {
  background: #F9F9F9;
  padding: 100px 0px; }
  .section-6 .testimonials__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .section-6 .testimonials__item .quote {
      margin-bottom: 30px; }
    .section-6 .testimonials__item p {
      text-align: center;
      padding: 0px 100px 0px;
      margin-bottom: 50px; }
    .section-6 .testimonials__item .name {
      font-family: Oswald;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: #222222;
      padding-bottom: 20px; }
    .section-6 .testimonials__item .position {
      font-weight: 500;
      font-size: 14px;
      line-height: normal;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: #E2BCAF; }

.section-7 {
  padding: 100px 30px; }
  .section-7 .title span {
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #E2BCAF;
    margin-bottom: 40px; }
  .section-7 .brends {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-7 .brends .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center; }
    .section-7 .brends__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .section-7 .brends__inner .logo {
        margin: 0px 85px; }

.login-popup,
.register-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .login-popup.show-state,
  .register-popup.show-state {
    opacity: 1;
    pointer-events: auto; }
  .login-popup__container,
  .register-popup__container {
    background-color: white;
    padding: 30px;
    z-index: 2; }
  .login-popup__cover,
  .register-popup__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .login-popup__inner h2,
  .register-popup__inner h2 {
    margin-bottom: 20px; }
  .login-popup__form,
  .register-popup__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .login-popup__form input[type="text"],
    .login-popup__form input[type="password"],
    .register-popup__form input[type="text"],
    .register-popup__form input[type="password"] {
      padding: 5px 5px 5px 10px;
      margin-bottom: 20px; }
    .login-popup__form button,
    .register-popup__form button {
      padding: 10px;
      background-color: #E2BCAF;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none; }

.site-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  background-color: white;
  z-index: 999; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #E2BCAF;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }

@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0; } }

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0; } }
